@font-face {
  font-family: 'ADAM';
  src: url(../fonts/ADAMPRO.otf);
}

a {
	text-decoration: none;
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
}

html {
	font-size: 62.5%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #ccc;
	padding: 2.5rem;
}

.wrapper {
	background-color: #fff;
	display: flex;
	height: calc(100vh - 50px);
	box-shadow: 0 0 13px 6px rgba(0, 0, 0, 0.3);
}
.logo-block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo-area {
	width: 30%;
}

.description {
		width: 70%;
	position: relative;
	box-sizing: border-box;
	padding: 2.5rem;
	color: #fff;
	background: rgb(239,71,58); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(239,71,58,1) 0%, rgba(204,46,62,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(239,71,58,1) 0%,rgba(204,46,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(239,71,58,1) 0%,rgba(204,46,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef473a', endColorstr='#cc2e3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
nav {
	position: absolute;
	right: 2.5rem;
	top: 2.5rem;
}
nav .menu {
	display: flex;
	align-items: center;
	color: #fff;
	letter-spacing: .8rem;
}
nav .menu .burger {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 2rem;
}
nav .menu .burger span {
	display: block;
	background: #fff;
	height: 1px;
}
nav .menu .burger span:not(:last-child) {
	margin-bottom: .8rem;
}
nav .menu .burger span:nth-child(1) {
	width: 1.5rem;
}
nav .menu .burger span:nth-child(2) {
	width: 3rem;
}
nav .menu .burger span:nth-child(3) {
	width: 2rem;
}

.main {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 200px;
}
.main-block {
	margin-bottom: 50px;
}
.main h1 {
	text-indent: -.5rem;
	font-family: 'ADAM';
	font-size: 10.1rem;
	position: relative;
}
.main h1 span {
	font-size: 2.4rem;
	display: block;
	text-align: right;
	margin-right: 8rem;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
.main .lead {
	font-family: 'Oswald';
	font-size: 3rem;
	margin-bottom: 2.5rem;
	letter-spacing: .5rem;
}

.social {
	display: flex;
	position: absolute;
	right: 2.5rem;
	bottom: 2.5rem;
}
.social li:not(:first-child) {
	margin-left: 2rem;
}
.social a {
	font-size: 3rem;
	color: #fff;
}

@media only screen and (max-width: 1440px) {
	.main {
		margin-left: 10rem;
	}
	.logo-block {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 1024px) {
	.main {
		justify-content: center;
		margin-left: 0;
	}
	.main h1 {
		font-size: 7rem;
	}
}

@media only screen and (max-width: 768px) {
	body {
		padding: 1.5rem;
	}
	.wrapper {
		position: relative;
		display: block;
		height: calc(100vh - 30px);
	}
	.logo-area {
		display: block;
		width: 100%;
		height: calc(35vh - 15px);
	}
	.logo-block {
		padding: 0;
		position: absolute;
		left: 15px;
		height: auto;
		top: 15px;
		width: 80px;
	}
	.description {
		display: block;
		position: static;
		width: 100%;
		height: calc(65vh - 15px);
		padding: 0;
	}
	.main {
		display: block;
	}
	nav .menu {
		color: #cb2d3e;
	}
	nav .menu .burger {
		margin-left: 1rem;
	}
	nav .menu .burger span {
		background: #cb2d3e;
	}
	.main-block {
    	 margin-bottom: 0; 
	}
	.main h1 {
		text-align: center;
	}
	.main h1 span {
		margin-right: 0;
		text-align: center;
	}
	.main .lead {
	    font-size: 1.4rem;
	    margin-bottom: 0;
	    letter-spacing: 0.3rem;
	    text-align: center;
	}
}

@media only screen and (max-width: 640px) {

}