@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  background: #e2e2e2;
  color: #6d6e76;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  font-size: 16px; }

input::-webkit-input-placeholder {
  color: #6d6e76; }

input::-moz-placeholder {
  color: #6d6e76; }

input:-ms-input-placeholder {
  color: #6d6e76; }

input:-moz-placeholder {
  color: #6d6e76; }
