.main-banner {
	margin-top: -130px;
	margin-bottom: 45px;
	z-index: 0;
	.slick-arrow {
		display: none !important;
	}
	.banner {
		position: relative;
		height: 95vh;
		background-size: cover;
		background-position: left top;
		background-repeat: no-repeat;
		transition: all .3s ease;
		.btn-outline {
			position: absolute;
			right: 10%;
			bottom: 10%;
		}
		&-1 {
			background-image: url(../images/slider-banner.jpg);
		}
		&-2 {
			background-image: url(../images/slider-banner-1.jpg);
		}
		&-3 {
			background-image: url(../images/slider-banner-2.jpg);
			.btn-outline {
				right: auto;
				left: 10%;
			}
		}
	}
}

.product-area {
	.product-list  {
		padding-bottom: 45px;
		& > div {
			margin-bottom: 20px;
		}
		.product-card {
			position: relative;
			background: #fff;
			transition: all .3s ease-out;
			&:hover {
				box-shadow: 0 0px 24px 0 rgba(0,0,0,.14);
				transform: translateY(-10px);
			}
			a {
				display: block;
			}
			&-price {
				position: absolute;
				top: 5px;
				left: 10px;
				color: $gray;
				font-weight: bold;
			}
		}
	}
}
