
/****************************
	Product View
****************************/
// Product Slider
.zoomContainer,
	.product-zoom {
		z-index: 0;
		pointer-events: none;
	}
.product-slider {
	.slick-current,
	.slick-active {
		img {
			pointer-events: auto;
		}
	}
	.slick-arrow {
		position: absolute;
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		padding: 4px 13px;
		z-index: 1;
		color: $mediumGray;
		font-size: 2rem;
		&.slick-next {
			right: 0;
		}
		&.slick-prev {
			left: 0;
		}
		&:hover {
			color: #fff;
			background: $teal;
		}
	}
}
.product-showcase {
	margin-bottom: 26px;
}
.product-details {
	font-size: 0.875rem;
	a {
		font-size: 0.875rem;
	}
	h3 {
		margin-bottom: 20px;
		color: $mediumGray;
		font-size: 1.125rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.review-information {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		.add-review {
			display: flex;
			justify-content: center;
		}
		.review-rating {
			i {
				letter-spacing: -2px;
			}
			span {
				margin-left: 10px;
				display: inline-block;
				color: $gray;
				font-weight: bold;
			}
		}
	}
	.share-product {
		display: flex;
		flex-direction: flex-start;
		span {
			margin: 0 10px;
			font-weight: bold;
			color: #8c8c8c;
		}
		a {
			font-size: 0.875rem;
			color: #8c8c8c;
			font-weight: bold;
			margin-right: 15px;
		}
	}

	.product-info01 {
		margin-bottom: 30px;
		li {
			font-size: 0.8125rem;
			font-family: $roboto;
			color: #8c8c8c;
			margin-bottom: 5px;
		}
		span {
			display: inline-block;
			margin-right: 5px;
			font-size: 0.9375rem;
			font-family: $montserrat;
			color: $mediumGray;
			font-weight: bold;
		}
		a {
			color: $teal;
			&::after {
				content: ',';
			}
			&:last-child::after {
				content: none;
			}
		}
	}
	p {
		text-align: justify;
		font-family: $roboto;
		line-height: 1.2;
		color: #8e8c8c;
		font-size: 0.9375rem;
	}
	.product-info02 {
		margin-bottom: 30px;
	}
	.options {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		.form-group {
			flex: 3;
			padding: 0 15px;
			label {
				color: $mediumGray;
				font-size: 0.8125rem;
				font-weight: bold;
			}
		}
		.form-group:first-child {
			padding-left: 0;
		}
		.form-group:last-child {
			flex: 1;
		}
	}
	.product-actions {
		margin-bottom: 20px;
		a:first-child {
			margin-right: 20px;
		}
	}
	a.compare-link {
		display: inline-block;
		color: #454647;
		font-weight: bold;
		font-size: 0.875rem;
		i {
			display: inline-block;
			color: #fff;
			background: $gray;
			padding: 8px;
			border-radius: 50%;
			font-size: 0.9375rem;
			margin-right: 10px;
		}
	}
}
.product-data {
	.tabs {
		display: flex;
		background: #f8f8f8;
		margin-bottom: 20px;
		a {
			display: block;
			padding: 10px 35px;
			color: $mediumGray;
			font-weight: bold;
		}
		.active a {
			background: $bgDark;
			color: #fff;
		}
	}
	.tab-contents {
		padding: 0 15px;
		margin-bottom: 70px;

		#description {
			.desc-header {
				font-weight: bold;
				color: $gray;
				font-size: 0.9375rem;
			}
			p {
				font-size: 0.8125rem;
				font-family: $roboto;
			}
		}
	}
}

.stores-area {
	margin-bottom: 110px;
	overflow: hidden;
	.main-stores {
		margin-bottom: 50px;
	}
	.btn-outline:hover {
		color: #fff;
		background-color: $teal;
		border-color: $teal;
	}
	h3 {
		color: $mediumGray;
		font-size: 1.125rem;
		font-weight: bold;
	}
	p.lead {
		color: $gray;
		font-size: 0.8125rem;
	}
	p {
		color: #8e8c8c;
		font-size: 0.9375rem;
		&:last-of-type {
			margin-bottom: 25px;
		}
	}
	#map {
		height: 500px;
		width: 65%;
	}
	.location {
		display: flex;
		background-color: #f8f8f8;
		.container-fluid {
			padding: 0;
		}
		.store-address {
			padding: 30px 50px 0 30px;
			width: 35%;
			p {
				font-size: 0.9375rem;
				color: #8e8c8c;
			}
			.contact {
				margin-bottom: 25px;
				li {
					padding-left: 20px;
					position: relative;
					margin-bottom: 10px;
					color: #8e8c8c;
					font-size: 0.875rem;
					i {
						position: absolute;
						left: 0;
						top: 3px;
						font-size: 0.75rem;
						margin-right: 10px;
					}
				}
			}
			.social-block {
				display: flex;
				li {
					margin-right: 15px;
				}
				a i {
					display: inline-block;
					box-sizing: border-box;
					border-radius: 60px;
					color: #fff;
					background: $gray;
					font-size: 18px;
					line-height: 30px;
					width: 30px;
					text-align: center;
					transition: all .3s ease-out;
					&:hover {
						background: $teal;
						color: #fff;
						transform: rotate(360deg);
					}
				}

			}
		}
	}
}
