@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700');

// Colors
$darkGray: #222;
$mediumGray: #575153;
$lightGray: #989898;
$gray: #727272;
$teal: #00c8c8;
$red: #bb5465;
$lightRed: #fcf6f7;

// Background
$bgDark: #333;
$bgLight: #f8f8f8;

// Font Family
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;